div.content-container {
    margin: 2%;
}

body {
    background-color: #99ccff;
}

h1 {
    font-size: 34px;
    font-family: 'Antic Slab', serif;
    text-align: center;
}

p {
    font-family: 'Antic Slab', serif;
    font-size: 20px;
}

.paragraph {
    background-color: white;
    width: 1050px;
    height: auto;
    border-radius: 20px;
    padding: 20px;
}

.parent {
    display: flex;
    width: 1050px;
}

.image-child {
    flex-basis: 50%;
    border-radius: 25px;
    border: 2px solid #white;
}

.text-child {
    flex-basis: 300%
}

.center {
    margin: 0 auto;
}

.parent img {
    max-width: 150px;
}

.container {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 800px;
}